body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
}

.col-2 {
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.col-10 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-container {
  text-align: center;
}

.chat-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}
#manos{
width: 200px; 
height: auto;
}
